{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Sitio de Administración') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'img/logo.png' %}" height="40px" style="margin-right: 10px; vertical-align: middle;" />
        {{ site_header|default:_('Administración') }}
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/admin_custom.css' %}">
{% endblock %}

{% block nav-global %}
{{ block.super }}
{% endblock %}
